/**
 * This styles the scoreboards but not the main interface.  It does not get compiled into the main app.css file.
 */

body {
  background-image: url("/img/deathstar.jpg");
  background-attachment: scroll;
  background-repeat: repeat;
  background-position: center top;
  font-family: Verdana, sans-serif;
}

body#iframed {
  margin: 0;
  padding: 0;
}

.container#scoreboards {
  width: 1164px;
  height: 100%;
  padding: 0px 0px 50px 0px;
  background-image: url("/img/transparent-grey.png");
  background-repeat: repeat;
  background-position: top left;
  font-size: 0;
}

body#iframed .container#scoreboards {
  margin: 0 auto;
}

body#iframed table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rank_dps {
  width: 24%;
  display: inline-block;
  margin: 0% 0.5% 3% 0.5%;
}

.rank_dps#ranks_all,
.rank_dps#ranks_all_crazy {
  width: 49.5%;
  margin: 0% 0.5% 0% 0%;
}

.rank_dps#ranks_all_crazy {
  width: 49.5%;
  margin: 0% 0% 0% 0.5%;
}

.rank_dps h3 {
  margin: 0px auto 10px auto;
  font-family: Play, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #CC0000;
  text-align: center;
  line-height: 1.2;
}

.rank_dps table.damage_table {
  width: 100%;
  color: #999999;
}

.rank_dps table.damage_table th {
  padding: 10px 0px;
  font-size: 18px;
  color: #12ff00;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.rank_dps table.damage_table td {
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
}

.rank_dps#ranks_all table.damage_table td,
.rank_dps#ranks_all_crazy table.damage_table td {
  font-size: 16px;
  line-height: 16px;
}

.rank_dps#ranks_all h3,
.rank_dps#ranks_all_crazy h3 {
  font-size: 21px;
}

.rank_dps table.damage_table tr:nth-child(odd) {
  background: transparent url("/img/transparent-white.png") scroll repeat 0 0;
}

.rank_dps a,
.rank_dps a:link,
.rank_dps a:visited {
  color: #fff;
  text-decoration: none;
}

.rank_dps a:hover {
  color: #fff;
  text-decoration: underline;
}

.rank_dps a:active {
  color: #fff;
  text-decoration: none;
}

.rank_dps table.damage_table tr.damage_table_champion,
.rank_dps table.damage_table tr.damage_table_champion a {
  color: #FFA500;
}

.rank_dps table.damage_table tr.damage_table_champion a:hover {
  color: #fff;
}

