
/**
 * This styles the sideblock iframe but not the main interface.  It does not get compiled into the main app.css file.
 */

body
{
   margin: 0;
   padding: 0;
   color: #ff6600;
   font-family: Verdana, sans-serif;
   font-size: 11px;
   background-image: url("/img/deathstar.jpg");
   background-attachment: scroll;
   background-repeat: repeat;
   background-position: center top;
}

#dps-club-sideblock
{
   margin: 0;
   padding: 0px 0px 100px 0px;
   background-image: url("/img/transparent-grey.png");
   background-repeat: repeat;
   background-position: top left;
   line-height: 13px;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grey-text
   {
      color: #999;
   }

.title-text
   {
      color: #12ff00;
      font-weight: bold;
   }

.class-text
   {
      color: #fff;
      font-weight: bold;
   }

a,
a:link,
a:visited
   {
      color: #fff;
      text-decoration: none;
   }

a:hover
   {
      text-decoration: underline;
   }

/*
.rank_dps a,
.rank_dps a:link,
.rank_dps a:visited
{
  color: #fff;
  text-decoration: none;
}

.rank_dps a:hover
{
  color: #fff;
  text-decoration: underline;
}

.rank_dps a:active
{
  color: #fff;
  text-decoration: none;
}*/